.btn{
    /* layout context */
    display: flex;

    /* alignment */
    justify-content: center;
    align-items: center;

    /* box model */
    padding: 1rem 2.4rem;
    border-radius: 4rem;
}

