/* layout context */
    /* 해당 블록이 무엇인지 먼저 선언한다. position, display, flex|grid */
/* alignment */
    /* 자식 요소 배치 */
/* box model */
    /* 요소 자체의 물리적 크기와 여백 width,height, margin, padding */
/* layer */
/* visual */


body{
    /* layout context */
    display: flex;

    /* alignment */
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.page-wrapper{
    /* box model */
    width: 39rem;
}

.page-header{
    /* layout context */
    display: flex;

    /* alignment */
    align-items: center;

    /* box model */
    padding: 2.4rem 2rem;
}

.page-header__inner{
    /* layout context */
    display: flex;

    /* alignment */
    justify-content: space-between;
    align-items: center;

    /* box model */
    width: 100%;
}

.page-header__logo{
    /* box model */
    width: 9.2rem;
    height: 2.8rem;
}

.page-header__menu{
    /* box model */
    width: 3.2rem;
    height: 3.2rem;
}

.page-header__nav.nav-drawer{
    /* layout context */
    position: fixed;
    top: 0;
    right: -100%;
    

    /* box model */
    height: 100vh;
    width: 29rem;
    
    /* temp */
    right: 0;
    display: none;

}

.nav-drawer__header{
    /* layout context */
    display: flex;
    justify-content: flex-start;

    /* box model */
    padding: 2.2rem;
}

.nav-drawer__body{
    /* layout context */
    display: flex;

    /* alignment */
    flex-direction: column;
    align-items:flex-start;
    gap: 5rem;
    
    /* box model */
    padding: 4rem;
}

.nav-drawer__list{
    /* layout context */
    display: flex;

    /* alignment */
    flex-direction: column;
    gap: 2.8rem;
    text-align: left;

    /* box model */
    padding: 1rem;
}

main{
    /* layout context */
    display: flex;
    position: relative;

    /* alignment */
    flex-direction: column;
    gap: 6rem;

    /* box model */
    padding: 4rem 3.2rem 15.8rem;
    overflow: hidden;

    /* layer */
    z-index: 0;

    /* temp */
    border: solid 1px black;
}

main::after{
    /* layout context */
    position: absolute;

    /* alignment */
    left: 0;
    right: 0;
    bottom: 0rem;

    /* box model */
    content: "";
    height: 24rem;
    
    /* layer */
    z-index: -1;

    /* visual */
    background-image: 
        linear-gradient(#F2E9D899, #F2E9D899),
        url(/img/img_5.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center 24%;
    background-size: cover;
    
    /* SEO */
    pointer-events: none;
}

/* hero section */
.hero{
    /* layout context */
    display: flex;
    flex-direction: column;

    /* alignment */
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

.hero__content{
    /* layout context */
    display: flex;
    flex-direction: column;

    /* alignment */
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero__title{
    /* box model */
    margin: 0 2.53rem 0;
}

.hero__image{
    /* box model */
    width: 20.55rem;
    height: 36.2rem;
}

/* profile section */
.profile{
    /* layout context */
    display: flex;
    flex-direction: column;

    /* alignment */
    align-items: center;
    gap: 3.2rem;
}

.profile__image{
    /* box model */
    width: 32.6rem;
    height: 19rem;
    border-radius: 1.8rem;

    /* visual */
    object-fit: cover;
    object-position: center;
}

.profile__text{
    /* layout context */
    display: flex;
    flex-direction: column;

    /* alignment */
    gap: 1.6rem;
    text-align: left;
}

/* gallery section */
.gallery{
    /* lqyout context */
    display: flex;
    flex-direction: column;

    /* alignment */
    align-items: center;
    gap: 5rem;
}

.gallery__text{
    /* layout context */
    display: flex;
    flex-direction: column;

    /* alignment */
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    text-align: center;
}

.gallery__track{
    /* layout context */
    display: flex;

    /* alignment */
    gap: 2rem;

    /* visual */
    transition: transfrom 0.4s ease;
}

.gallery__slide{
    /* box model */
    border-radius: 1.8rem;

    /* visual */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 80%;
    aspect-ratio: 1 / 1 ;
    overflow: hidden;
}

.gallery__slide img {
    /* layout context */
    display: block;
    
    /* box moel */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__outro{
    /* layout context */
    display: flex;
    flex-direction: column;

    /* alignment */
    gap: 2.2rem;
    text-align: left;
}

.gallery__outro button{
    /* alignment */
    align-self: flex-end;
}

/* subscribe section */

.subscribe{
    /* layout components */
    display: flex;
    flex-direction: column;

    /* alignments */
    gap: 3rem;

    /* box model */
    width: 32.6rem;
    padding: 3.6rem 3.2rem 3rem;
    border-radius: 1.8rem;
}

.subscribe__text{
    /* layout context */
    display: flex;
    flex-direction: column;

    /* alignment */
    gap: 1.2rem;
    text-align: left;
}

.subscribe__form{
    /* layout context */
    display: flex;
    flex-direction: column;

    /* aalignment */
    gap: 1.6rem;
}

.subscribe__form button{
    /* alignment */
    align-self: flex-end;
}

.subscribe__input-wrapper{
    /* layout context */
    display: flex;

    /* alignment */
    align-items: center;
    gap: 1.2rem;
    
    /* box model */
    border-radius: 6rem;
    padding: 1.1rem 1.6rem;
    
    /* visual */
    cursor: text;
}

.subscribe__input {
    /* visual */
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
}


.subscribe__input-wrapper:focus-within{
    /* visual */
    outline: 2px solid #fff;
}


footer{
    /* temp */
    height: 17.8rem;
    border: solid 1px black;
    padding: 3rem;

    display: flex;
    justify-content: space-between;
}

.footer__brand{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__logo{
    width: 11.2rem;
    height: 3.4rem;
}

.footer__social{
    display: flex;
    gap: 1.6rem;

}

.footer__social-item{
    position: relative;

    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;

    /* temp */
    background-color: #F29D52;
}

.footer__social-item img{
    width: 1.6rem;
    height: 1.6rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer__menu{
    text-align: right;
    align-self: flex-end;
    
}

.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-wrapper{
    /* temp */
    display: none;
}

.modal__dim{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 999;

    inset: 0;
    width: 100vw;
    height: 100vh;
}

.modal{

    width: 30rem;
    height: 30rem;
    border-radius: 3rem;
    
    background-image: url(/img/modal-bg-img.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 2.6rem;

    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-top: 4rem;
    padding-bottom: 3rem;
    text-align: center;

    /* temp */
    background-color: #F2E9D8;
}

.modal__content{
    


    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 2.2rem;
}

.modal__image{
    width: 6rem;
    height: 6rem;
}

.modal__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.modal .btn{
    align-self: center;
}

