body{
    display: flex;
    flex-direction: column;
    align-items: center;

    /* temp */
    background-color: lightblue;
}

.page-wrapper{
    width: 39rem;

    /* temp */
    background-color: lightcoral;
}

header{
    display: flex;
    align-items: center;

    /* temp */
    height: 7.6rem;
    border: solid 1px black;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 0 2rem;
}

.header__logo{
    width: 9.2rem;
    height: 2.8rem;
}

.header__menu{
    width: 3.2rem;
    height: 3.2rem;
}

.header-nav.nav-drawer{
    position: fixed;
    top: 0;
    right: -100%;
    
    /* temp */
    right: 0;

    height: 100vh;
    width: 29rem;
    
    /* temp */
    background-color: beige;

}

.nav-drawer__header{
    padding: 2.2rem;
}

.nav-drawer__body{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 5rem;
}

.nav-drawer__list{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}

main{

    /* temp */
    height: 253.1rem;
    border: solid 1px black;
}

footer{

    /* temp */
    height: 17.8rem;
    border: solid 1px black;
}