body{
    display: flex;
    flex-direction: column;
    align-items: center;

    /* temp */
    background-color: lightblue;
}

.page-wrapper{
    width: 39rem;

    /* temp */
    background-color: lightcoral;
}

header{
    display: flex;
    align-items: center;

    /* temp */
    height: 7.6rem;
    border: solid 1px black;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 0 2rem;
}

.header__logo{
    width: 9.2rem;
    height: 2.8rem;
}

.header__menu{
    width: 3.2rem;
    height: 3.2rem;
}

.header-nav.nav-drawer{
    position: fixed;
    top: 0;
    right: -100%;
    
    /* temp */
    right: 0;

    height: 100vh;
    width: 29rem;
    
    /* temp */
    background-color: beige;

}

.nav-drawer__header{
    padding: 2.2rem;
}

.nav-drawer__body{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 5rem;
}

.nav-drawer__list{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}

main{
    padding: 4rem 3.2rem 15.8rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;

    overflow: hidden;

    position: relative;
    z-index: 0;

    /* temp */
    border: solid 1px black;
}

main::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0rem;
    height: 24rem;

    background-image: 
        linear-gradient(#F2E9D899, #F2E9D899),
        url(/img/img_5.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center 30%;
    background-size: cover;

    pointer-events: none;
    z-index: -1;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 3.2rem;
}

.hero__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.hero__title{
    margin: 0 2.53rem 0;
}

.hero__image{
    width: 20.55rem;
    height: 36.2rem;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    
}

.profile__image{
    width: 32.6rem;
    height: 19rem;
    object-fit: cover;
    object-position: center;
    border-radius: 1.8rem;
}

.profile__text{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.gallery__text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.gallery__track{
    display: flex;
    gap: 2rem;
    transition: transfrom 0.4s ease;
}

.gallery__slide{
    /* width: 26rem;
    height: 26rem; */

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 80%;
    aspect-ratio: 1 / 1 ;
    
    border-radius: 1.8rem;
    overflow: hidden;
}

.gallery__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__outro{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;

}

.gallery__outro button{
    align-self: flex-end;
}

.subscribe{
    width: 32.6rem;
    padding: 3.6rem 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 1.8rem;

    /* temp */
    background-color: #263140;
    color: #eee;

}

.subscribe__text{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.subscribe__form{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.subscribe__form button{
    align-self: flex-end;
}

.subscribe__input-wrapper{
    border-radius: 6rem;
    background-color: ;
    padding: 1.1rem 1.6rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    cursor: text;

    /* temp */
    background-color: #FFFFFF;
}

.subscribe__input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
}


.subscribe__input-wrapper:focus-within{
    outline: 2px solid #fff;
}


footer{

    /* temp */
    height: 17.8rem;
    border: solid 1px black;
}