/* @media screen and (min-width: 768px){} */

@media screen and (min-width: 768px) {
    .br-mobile{
        display: none;
    }

    .br-pc{
        display: block;
    }

    .page-wrapper{
        max-width: 128rem;
    }

    main{
        padding: 4rem 0 15.8rem;
    }
    
    /* header */
    .page-header__menu-btn{
        display: none;
    }

    .page-header__nav.nav-drawer{
        display: none;
    }

    .page-header__nav-pc{
        display: block;
    }

    .page-header__nav-pc{
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    .page-header__nav-list{
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    /* hero section */
    .hero{
        /* layout context */
        flex-direction: row;

        /* alignment */
        justify-content: space-between;
        text-align: left;
        gap: 13.1rem;
    }

    .hero__content{
        /* layout context */
        display: flex;
        flex-direction: column;

        /* alignment */
        align-items: flex-start;
        gap: 4rem;
    }

    .hero__title{
        /* box model */
        margin: 0;
    }

    .hero__image{
        width: 41.5rem;
        height: 79.8rem;
    }

    /* profile section */
    .profile{
        flex-direction: row;
        gap: 11rem;
    }

    .profile__text{
        gap: 3.6rem;
    }

    .profile__image{
        width: 66rem;
        height: 39rem;
    }
    .profile__title{
        text-align: center;
    }

    /* gallery section */
    .gallery{
        /* alignment */
        gap: 8rem;
    }

    .gallery__text{
        /* alignment */
        gap: 3.6rem;
        text-align: center;
    }

    .gallery__track{
        /* alignment */
        gap: 7.3rem;
    }

    .gallery__slide{
        /* box model */
        border-radius: 3rem;

        /* visual */
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 29.5%;
        aspect-ratio: 1 / 1 ;
        overflow: hidden;
    }

    .gallery__outro{
        /* layout context */
        flex-direction: row;

        /* alignment */
        gap: 5.4rem;
        text-align: left;
        align-items: center;
    }

    .gallery__outro button{
        /* alignment */
        align-self: auto;
    }

    /* subscribe section */
    .subscribe{
        /* layout components */
        display: flex;
        flex-direction: row;
        position: relative;

        /* alignments */
        align-items: center;
        gap: 14rem;

        /* box model */
        width: 128rem;
        padding: 5rem 6rem;
        border-radius: 1.8rem;
    }

    .subscribe__form button{
        position: absolute;
        transform: translate(-4%,12%);
    }

    .subscribe__input-wrapper{
        padding: 1.9rem 1.6rem;
    }

    main::after{
        background-position: center center, center 40%;
    }

    .footer__menu{
        display: none;
    }

    .footer__brand{
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .footer__logo{
        /* box model */
        width: 22.6rem;
        height: 7rem;
    }

    .footer__social-item{
        /* layout context */
        width: 4rem;
        height: 4rem;
    }

}