/* @media screen and (min-width: 768px){} */

@media screen and (min-width: 768px) {
    .br-mobile{
        display: none;
    }

    .br-pc{
        display: block;
    }

    .page-wrapper{
        max-width: 128rem;
    }
    
    /* header */
    .page-header__menu-btn{
        display: none;
    }

    .page-header__nav.nav-drawer{
        display: none;
    }

    .page-header__nav-pc{
        display: block;
    }

    .page-header__nav-pc{
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    .page-header__nav-list{
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    /* hero section */
    .hero{
        /* layout context */
        flex-direction: row;

        /* alignment */
        justify-content: space-between;
        text-align: left;
        gap: 13.1rem;
    }

    .hero__content{
        /* layout context */
        display: flex;
        flex-direction: column;

        /* alignment */
        align-items: flex-start;
        gap: 4rem;
    }

    .hero__title{
        /* box model */
        margin: 0;
    }

    .hero__image{
        width: 41.5rem;
        height: 79.8rem;
    }






}