/* common components */
.btn{
    font-family: var(--font-base);
    font-weight: var(--fw-bold);
    font-size: var(--fs-sm);
    color: var(--color-text-inverse);

    background-color: var(--color-primary);
}

/* page-header */
.page-header{
    background-color: var(--color-bg-accent);
}

/* page-header__nav */
.page-header__nav.nav-drawer{
    background-color:var(--color-bg-inverse);
}

.nav-drawer__list{
    font-family: var(--font-base);
    font-weight: var(--fw-bold);
    font-size: var(--fs-md);
    color: var(--color-text-inverse);
}

/* hero section */
.hero{
    /* main padding을 무시하고 hero 배경을 full-bleed로 확장 */
    margin-top: -4rem;
    margin-left: -3.2rem;
    margin-right: -3.2rem;
    padding-top: 4rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;

    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);

    background-color: var(--color-bg-accent);
}

.hero__title{
    font-family: var(--font-base);
    font-weight: var(--fw-bold);
    font-size: var(--fs-xl);
    color: var(--color-text-base);
}

.hero__description{
    font-family: var(--font-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-sm);
    color: var(--color-text-base);
}

/* profile section */
.profile__text{
    /* common features */
    font-family: var(--font-base);
    color: var(--color-text-base);
}

.profile__title{
    font-weight: var(--fw-bold);
    font-size: var(--fs-xl);
}

.profile__description{
    font-weight: var(--fw-regular);
    font-size: var(--fs-sm);
}

/* gallery section */
.gallery__text{
    /* common features */
    font-family: var(--font-base);
}

.gallery__title{
    color: var(--color-text-accent);
    font-weight: var(--fw-bold);
    font-size: var(--fs-xl);
}

.gallery__description{
    color: var(--color-text-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-md);
}

.gallery__description span{
    color: var(--color-text-accent);
    font-weight: var(--fw-bold);
}

/* subscribe section */
.subscribe{
    background-color: var(--color-bg-inverse);
}

.subscribe__text{
    /* common features */
    font-family: var(--font-base);
    color: var(--color-text-inverse);
}

.subscribe__title{
    font-weight: var(--fw-bold);
    font-size: var(--fs-xl);
}

.subscribe__description{
    font-weight: var(--fw-regular);
    font-size: var(--fs-sm);
}

.subscribe__input-wrapper{
    background-color: var(--color-bg-base);
}

/* footer */
.footer__nav{
    font-family: var(--font-base);
    color: var(--color-text-muted);
    font-weight: var(--fw-regular);
    font-size: var(--fs-sm);
}

.footer__social-item{
    background-color: var(--color-icon-muted);
}

/* modal */
.modal__dim{
    background-color: var(--color-bg-dim);
}

.modal{
    background-color: var(--color-bg-accent);
}

.modal__content{
    font-family: var(--font-base);
}

.modal__title{
    color: var(--color-text-accent);
    font-weight: var(--fw-bold);
    font-size: var(--fs-xl);
}

.modal__description{
    color: var(--color-text-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-sm);
}