@media screen and (min-width: 768px) {

    /* header */
    .page-header__nav-list{
        font-family: var(--font-base);
        font-weight: var(--fw-regular);
        font-size: var(--fs-md);
        color: var(--color-text-base);
    }

    /* hero section */
    .hero__title{
        font-size: var(--fs-xxxl);
    }

    .hero__description{
        font-size: var(--fs-md);
    }
}